{% extends 'layout.html.twig' %}
{% block title %}Xavier COUTANT - Blog{% endblock %}

{% block content %}

if (isset($_GET['id'])) {

if (!preg_match("#script#", $data['contenu'])) {

echo "<div class = 'row'>
    <div class = 'col-xs-12'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <div class='row titrepannel'>
                    <div class='col-xs-8'>
                        <h3 class='titrepost'> {{ data.titre|e }} </h3>
                    </div>
                    <div class='col-xs-4'>
                        <h4 class='titredate'> {{ data.date_creation|e }} </h4>
                    </div>
                </div>
            </div>
            <div class='panel-body'><div class='chapo'> {{ data.chapo|e }} </div>
                <p> {{ data.contenu|e }}
                    </div>
        </div>
    </div>
</div>";

}

else echo "Tu as voulu me piéger, petit filou !";
}

if ($data['date_maj']!=NULL) {
echo "<span class='badge badge-primary'>
  				Derni&#232;re mise-&#224;-jour : " . htmlspecialchars($data['date_maj'])
  		 . "</span>";
}

?>

{% endblock %}