{% extends 'layout.html.twig' %}
{% block title %}Xavier COUTANT - Blog{% endblock %}

{% block content %}

<?php

 echo "<body>
<div class = 'container'>
    ";

    // En-tête jumbotron
    include ('header.html');
    // fin en-tête jumbotron

    echo "<div class='row text-center'>
        <h2>Liste des billets<br/></h2>
        <h3>Pour lire un message au complet, cliquer sur son titre.</h3>
    </div>";

    // Récupération du contenu de la table 'post'
    require ('../modele/mod_liste_billets.php');

    while ($donnees = $liste_post->fetch())  {
    echo "<div class = 'row'>
        <div class = 'col-xs-12'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <div class='row titrepannel'>
                        <div class='col-xs-8'>
                            <a href='billet.php?id=" . $donnees['id'] . "'><h3 class='titrepost'>" . htmlspecialchars($donnees['titre']) . "</h3></a>
                        </div>
                        <div class='col-xs-4'>
                            <h4 class='titredate'>Créé le : " . htmlspecialchars($donnees['date_creation']) . "</h4>
                        </div>
                    </div>
                </div>
                <div class='panel-body chapo'>" . htmlspecialchars($donnees['chapo'])
                    . "</div>
            </div>
        </div>
    </div>";
    }

    $liste_post->closeCursor();

    echo "</body>
</div>";

{% endblock %}