/* admin */
.menu_admin
{
	background-color: black;
	border-right: 6px groove darkgreen;
	min-height:100vh;
}

.titre
{
	color: #FFFFFF;
	font-size: 1.8em;
}

.namesession
{
	color: white;
}

.names
{
	color: #cc0000;
}

/* Media querries */
@media screen and (max-width: 780px)
{
	.menu_admin
	{
		min-height: 1vh;
		border-right: none;
		border-bottom: 6px groove darkgreen;
	}
}