/* Character fonts */
@font-face
{
	font-family: 'Bauhaus';
	src: url('../fonts/MandalaBold.otf');
}

@font-face
{
	font-family: 'Bauhaus_Light';
	src: url('../fonts/MandalaRegular.otf');
}


@font-face
{
	font-family: 'UbuntuLight';
	src: url('../fonts/Ubuntu-L.ttf') format('truetype');
}

h3
{
	font-size: 1.3em;
}

/* Page default */
body
{
	font-family: 'UbuntuLight', Arial, serif;
	background-color:whitesmoke ;
}

/* Header */
.jumbotron
{
	background-image: url('../images/banniere.jpg');
	color: black;
}

.subtitle
{
	font-family: Bauhaus, Arial, serif;
	color: #cc0000;
}

.jumbotitre
 {
 	font-family: 'Bauhaus', Arial, serif;
 }

.soustitre
{
	font-family: Bauhaus_Light, Arial, serif;
}

/* Navbar */
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover
{
    color: white;
    background-color: black;
}

.navbar-default .navbar-nav > li > a
{
    font-family: Bauhaus;
    color: #cc0000;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
    background-color: black;
    border-color: black;
}

.container-fluid
{
    background-color: black;
}

.navbar-default
{
    background-color: black;
    border-color: black;
}

.navbar
{
    width: 35%;
}

.navbar-default .navbar-toggle
{
    border-color: black;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: whitesmoke;
}
/* End navbar */


.chapolanding
{
	margin-bottom: 30px;
}

.table
{
	background-color: white;
}

/* Thumbnail right side */
.fondThumb
{
	background-color: black;
}

.thumbwrite
{
	color: white;
}

.list-group-item
{
	padding: 5px;
}

/* Panels landing page */
#flip, #flip2, #flip3
{
	width: 180px;
	margin: 5px;
	padding: 10px 0 10px 20px;
	background-color: black;
    color: #FFF;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	transition: width 1s, background-color 1s;
	cursor: pointer;
}

#flip:hover, #flip2:hover, #flip3:hover
{
    width: 200px;
	background-color: #cc0000;
}

#panel, #panel2, #panel3
{
	display: none;
	margin-bottom: 30px;
}

/* Form */
form
{
	padding-bottom: 40px;
}


/* Public list posts */
.titrepannel
{
	background-color: black;
	color: #cc0000;
	font-family: Bauhaus_Light, Arial, serif;
}

.titrepost
{
	font-size: 1.4em;
	color: #cc0000
}

.titredate
{
	font-size: 1.1em;
}

.chapo
{
	font-size: 1.2em;
}

/* dynamic links */
a
{
	color: rgb(51, 51, 51);
}

a:hover
{
	text-decoration: none;
}


/* Media queries */
@media screen and (max-width: 780px)
{
	/**.btnjumbo
	{
		margin-bottom: -45px;
        position: fixed;
	}*/

	h2
	{
		font-size: 1.5em;
	}
}