/* Page d'accueil */
@font-face
{
	font-family: 'Bauhaus';
	src: url('../fonts/MandalaBold.otf');
}

@font-face
{
	font-family: 'Bauhaus_Light';
	src: url('../fonts/MandalaRegular.otf');
}


@font-face
{
	font-family: 'UbuntuLight';
	src: url('../fonts/Ubuntu-L.ttf') format('truetype');
}

h3
{
	font-size: 1.3em;
}


body
{
	font-family: 'UbuntuLight', Arial, serif;
	background-color:whitesmoke ;
}

.jumbotron
{
	background-image: url('../images/banniere.jpg');
	color: black;
}

.subtitle
{
	font-family: Bauhaus, Arial, serif;
	color: #cc0000;
}

.jumbotitre
 {
 	font-family: 'Bauhaus', Arial, serif;
 }

.btnjumbo
{
	margin-bottom: -80px;
}

.soustitre
{
	font-family: Bauhaus_Light, Arial, serif;
}
.chapolanding
{
	margin-bottom: 30px;
}

.fond
{
	background-color: black;
}

.table
{
	background-color: white;
}

.fondThumb
{
	background-color: black;
}

.thumbwrite
{
	color: white;
}

.list-group-item
{
	padding: 5px;
}

#flip, #flip2, #flip3
{
	width: 180px;
	margin: 5px;
	padding: 10px 0 10px 20px;
	background-color: black;
    color: #FFF;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	transition: width 1s, background-color 1s;
	cursor: pointer;
}

#flip:hover, #flip2:hover, #flip3:hover
{
    width: 200px;
	background-color: #cc0000;
}

#panel, #panel2, #panel3
{
	display: none;
	margin-bottom: 30px;
}

form
{
	padding-bottom: 40px;
}


/* Public liste posts */
.titrepannel
{
	background-color: black;
	color: #cc0000;
	font-family: Bauhaus_Light, Arial, serif;
}

.titrepost
{
	font-size: 1.4em;
	color: #cc0000
}

.titredate
{
	font-size: 1.1em;
}

.chapo
{
	font-size: 1.2em;
}

a    /* Liens dynamiques */
{
	color: rgb(51, 51, 51);
}

a:hover
{
	text-decoration: none;
}

/* Public billet */



/* Media querries */
@media screen and (max-width: 780px)
{
	.btnjumbo
	{
		margin-bottom: -45px;
	}

	h2
	{
		font-size: 1.5em;
	}
}